h1{
     background-image: url(../img/def.jpg);
		background-repeat: no-repeat;
		height: 100px; width: 650px; font-size: 3em;
		padding-left: 150px; padding-top: 30px;
		border: 1px solid #000033;
		border-radius: 15px; 
        margin:auto;
        text-align: center;
}